@model EstoqueWEB.Models.EntradasEstoque

@{
    ViewData["Title"] = "Entradas de Estoque";
}

<h1>Inserir Entrada de Estoque</h1>

<h4>Press F - Gestão de Estoque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProduto" class="control-label"><b>Produto</b></label>
                <select asp-for="IdProduto" class ="form-control" asp-items="ViewBag.IdProduto"></select>
            </div>
@*            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="QtdEntrada" class="control-label"><b>Quantidade de Entrada:</b></label>
                <input asp-for="QtdEntrada" class="form-control" />
                <span asp-validation-for="QtdEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtEntrada" class="control-label"><b>Data de Entrada:</b></label>
                <input asp-for="DtEntrada" class="form-control" />
                <span asp-validation-for="DtEntrada" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="DtUltimaAlteracao" class="control-label"><b>Data </b></label>
                <input asp-for="DtUltimaAlteracao" class="form-control" />
                <span asp-validation-for="DtUltimaAlteracao" class="text-danger"></span>
            </div>*@
@*            <div class="form-group">
                <label asp-for="NumItensAtual" class="control-label"><b>Número de Itens:</b></label>
                <input asp-for="NumItensAtual" class="form-control" />
                <span asp-validation-for="NumItensAtual" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="PrecoUn" class="control-label"><b>Preço por Unidade:</b></label>
                <input asp-for="PrecoUn" class="form-control" />
                <span asp-validation-for="PrecoUn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorVenda" class="control-label"><b>Valor de Venda:</b></label>
                <input asp-for="ValorVenda" class="form-control" />
                <span asp-validation-for="ValorVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumNotaFiscal" class="control-label"><b>Número da Nota Fiscal:</b></label>
                <input asp-for="NumNotaFiscal" class="form-control" />
                <span asp-validation-for="NumNotaFiscal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lote" class="control-label"><b>Lote:</b></label>
                <input asp-for="Lote" class="form-control" />
                <span asp-validation-for="Lote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFornecedor" class="control-label"><b>Fornecedor:</b></label>
                <select asp-for="IdFornecedor" class ="form-control" asp-items="ViewBag.IdFornecedor"></select>
            </div>
@*            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aberto" /> @Html.DisplayNameFor(model => model.Aberto)
                </label>
            </div>*@
            <br />
            <div class="form-group">
                <a type="button" class="btn btn-secondary" asp-action="Index">Voltar</a>
                <input type="submit" value="Inserir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
