@model EstoqueWEB.Models.SaidasEstoque

@{
    ViewData["Title"] = "Saídas Estoque - Editar";
}

<h1>Editar Saída de Estoque</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSaida" />
            <div class="form-group">
                <label asp-for="IdProduto" class="control-label"><b>Produto:</b></label>
                <select asp-for="IdProduto" class="form-control" asp-items="ViewBag.IdProduto"></select>
                <span asp-validation-for="IdProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtSaida" class="control-label"><b>Data da Saída:</b></label>
                <input asp-for="DtSaida" class="form-control" />
                <span asp-validation-for="DtSaida" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"><b></b></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="QtdSaida" class="control-label"><b>Quantidade de Produtos:</b></label>
                <input asp-for="QtdSaida" class="form-control" />
                <span asp-validation-for="QtdSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoVendaUn" class="control-label"><b>Preço de Venda:</b></label>
                <input asp-for="PrecoVendaUn" class="form-control" />
                <span asp-validation-for="PrecoVendaUn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
