<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Gerenciamento de Estoque</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EstoqueWEB.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="/imagens/LogoEstoque.png" title="Press F - Controle de Estoque" class="d-inline-block align-text-top"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index"><font color="white"><b>Inicio</b></font></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><font color="white"><b>Cadastros Sistema</b></font></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Cadastrar Produtos</a></li>
                                <li><a class="dropdown-item" href="#">Cadastrar Fornecedores</a></li>
                                <li><a class="dropdown-item" href="#">Cadastrar Marcas</a></li>
                            </ul>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><font color="white"><b>Gerenciar Estoque</b></font></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="EntradasEstoques" asp-action="Index">Entrada de Estoque</a></li>
                                <li><a class="dropdown-item" asp-controller="SaidasEstoques" asp-action="Index">Saída de Estoque</a></li>
                                <li><a class="dropdown-item" asp-controller="BaixasEstoques" asp-action="Index">Baixa de Estoque</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2022 - EstoqueWEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
